<% if @model == 'user' %>
  <h3>【Usersの検索結果】検索ワード：<%= @content %></h3>
  <%= render 'users/index', users: @records %>
<% else @model == 'book' %>
  <h3>【Bookの検索結果】検索ワード：<%= @content %></h3>
  <%= render 'books/index', books: @records %>
<% end %>